{% extends 'safe_sign/base.html' %}
<!-- head block -->
{% block head %}
{% endblock head %}
<!-- title block -->
{% block title %}Login Form{% endblock title %}
<!-- block body -->
{% block body %}
<div class="lgoin_form">
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Login</button>
    </form>
</div>
{% endblock body %}
