{% extends 'safe_sign/base.html' %}
{% load static %}
<!-- head block -->
{% block head %}
<link rel="stylesheet" href="{% static 'taskflow/style/PasswordRest.css' %}">
{% endblock head %}
<!-- title block -->
{% block title %}Password reset{% endblock title %}
<!-- block body -->
{% block body %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter Username">
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock body %}
